@model Category

<div class="container-fluid">
    <h1 class="h3 mb-4">Create New Category</h1>

    <div class="card shadow mb-4">
        <div class="card-body">
            <form asp-action="Create" method="post" enctype="multipart/form-data">

                <div class="form-group mb-3">
                    <label asp-for="Name">Category Name</label>
                    <input asp-for="Name" class="form-control" placeholder="Enter name..." required>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label>Category Image</label>
                    <input name="ImageFile" type="file" class="form-control" accept="image/*">
                </div>

                <div class="mt-4">
                    <button type="submit" class="btn btn-success px-4">Save</button>
                    <a asp-action="Index" class="btn btn-secondary px-4">Cancel</a>
                </div>

            </form>
        </div>
    </div>
</div>